*{
    box-sizing: border-box;

}

h1,h2,h3{
    font-family: "Orbitron",sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(147, 0, 98);
}

#live,label,p,button{
    font-family: "Nunito",sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: rgb(22, 22, 22);
}
a{
    font-family: "Nunito",sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
}

body{
    background-color: rgb(250, 246, 249);
}

/*home page*/
.logo{
    display: block;
    margin: auto;
    width: 250px;
    padding: 5px;
}

.logobar{
    background-color: rgb(127, 64, 112);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 1, 43);
    list-style-type: none;
}

.aa{
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s;
}

.aa:hover{
    background-color: grey;
}

.banner{
    display: block;
    margin: auto;
    width: 800px;
    padding: 1rem;
}

.homething{
    h1{
        text-align: center;
        font-size: 38px;
    }
    p{
        text-align: center;
        font-size: 24px;
    }
}

.picz{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    row-gap: 50px;
    padding:1rem 1rem 1rem ;
    background-color: lightgray;
}

.picz img{
width: 50%;
padding: 5px;
align-items: center;
}
/*about me page*/

.selca{
    float: left;
    height: 400px;
    margin: 5px;
    border: 5px solid rgb(127, 64, 112);
}
.aboutcontent{
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    min-height: 76vh;
    margin: auto;
    margin-top: 50px;
}
.aboutwords{
    padding-bottom: 1rem;
    h1{
        font-size: 38px;
        text-align: center;
    }
    p{
        font-size: 24px;
        text-align: center;
    }
}

.jpn{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(223, 175, 211);
    margin: auto;
}

.accordioncont{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.5rem;
}

.accordioncont h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 30px;
}
.accordioncont p{
    padding: 1rem;
}

.accordion{
    color: rgb(22, 22, 22);
    font-size: 1rem;
    background-color: rgb(161, 92, 145);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.5s;
}

.accordion:hover{
    background-color: rgb(133, 75, 119);
}

.panel{
    padding: 0 18px;
    background-color: rgb(250, 246, 249);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
}

select{
    background-color: rgb(248, 200, 239);
}
.question{
    h2{
        font-size: 30px;
    }
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    min-height: 76vh;
    margin: auto;
    margin-top: 50px;
}
.qwords{
    padding-bottom: 1rem;
    h1{
        font-size: 38px;
        text-align: center;
    }
    p{
        font-size: 20px;
        text-align: left;
    }
    label{
        font-size: 20px;
    }
    option{
        font-size: 20px;
    }
}
.shadow{
    float: right;
    height: 400px;
    margin: 15px;
    border: 5px solid rgb(127, 64, 112);
}
.projcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-wrap: break-word;
    gap: 2rem;
    padding-bottom: 50px;
}


.card{
    padding: 1.5rem;
    border:6px solid rgb(127, 64, 112);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 35rem;
    background-color: rgb(223, 175, 211);
    margin: 1rem;
}
.projtitle{
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 48px;
}

.subhead{
    font-size: 30px;
    padding-bottom: 0.5rem;
}

.description{
    padding: 0.5rem;
}

section li{
    list-style-type: none;
}

.footer{
    background-color: rgb(62, 1, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

.bb{
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s;
}

.bb:hover{
    background-color: grey;
}

@media  screen and (max-width: 768px){

    .banner{
        display: flex;
        width: 90%;
    }
    .aboutcontent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shadow{
        max-width: 100%;
    }
    .qwords{
        justify-content: center;
    }
}